p {
  font-size: 60px;
  color:black;
 
  text-align: center;
}



body{
    background-color: rgb(102, 222, 126);

 
}
.center {
   display: flex;
  justify-content: center;
  gap: 60px;
  border-color: black;
}


#insta{
    background-image: url(insta2.jpg);
    padding: 40px 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}
#tik {
    background-image: url(tik.png);
    padding: 40px 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;

}
mark{
    background-color: aquamarine;
    color: blue;
}
#face{
   background-image: url(facebook.png);
    padding: 40px 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}
button:hover{
    border-color: blue;
    transform: scale(1.3,1.3);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
div{
    border-color: black;
    border-style: dashed;
}